<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Adding font from Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=San+Francisco:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Network Security Prediction ML App</h1>
        </header>
        <img src="/static/ml_image.jpg" alt="Machine Learning" class="ml-image">
        <div class="buttons">
            <button onclick="window.location.href='/train'">Re-Train Model</button>
            <button onclick="window.location.href='/predict'">Make Prediction</button>
        </div>
    </div>
</body>
</html>